<%= form_for(@movie) do |f| %>
<%= render "shared/errors", object: @movie %>
  <fieldset>
    <ol>
      <li class="required">
		<%= f.label :name %> 
		<%= f.text_field :name, autofocus: true %>
      </li>
      <li class="required">
        <%= f.label :description %>
        <%= f.text_area :description, cols: 40, rows: 7 %>
      </li>
      <li class="required">
        <%= f.label :price %>
        <%= f.text_field :price %>
      </li>
      <li class="required">
        <%= f.label :show_time %>
        <%= f.date_select :show_time %>
      </li>
      <li class="required">
        <%= f.label :capacity %>
        <%= f.number_field :capacity %>
      </li>
      <li class="required">
        <%= f.label :image_file_name %>
        <%= f.text_field :image_file_name, placeholder: "PNG, JPEG or GIF file name", size: 30 %>
      </li>
      <li class="required">
        <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name)%>
      </li>
    </ol>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", movies_path, class: 'button' %>
    </p>
  </fieldset>
<% end %>
