<h1> <%= pluralize(@movies.size, 'Movie') %> </h1>

<ul id="movies">
  <% @movies.each do |movie| %>
    <li>
      <article class="movie">
        <header>
          <%= image_for(movie) %>
          <h2><%= link_to movie.name, movie %></h2>
        </header>
        <p>
          <%= truncate(movie.description, length: 50, separator: ' ') %>
        </p>
        <table>
          <tr>
            <th>Ratings</th>
            <td><%= get_ratings(movie) %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td><%= format_price(movie) %></td>
          </tr>
          <tr>
            <th>Capacity</th>
            <td><%= movie.capacity %></td>
          </tr>
        </table>
        <footer>
        </footer>
      </article>
    </li>
  <% end %>
</ul>

