<article id="movie" class="movie">
  <header>
    <%= image_for(@movie) %>
    <h1><%= @movie.name %></h1>
  </header>

  <p>
    <%= @movie.description %>
  </p>
  
  <h3 class="no-rule">
    <%= get_ratings(@movie) %> 
  </h3>
  
  <h3>Capacity</h3>
  <p>
    <%= @movie.capacity %>
  </p>
  
  <h3>Price</h3>
  <p>
    <%= format_price(@movie) %>
  </p>
  
  <h3>Show Time</h3>
  <p>
    <%= @movie.show_time %>
  </p>

  <%= link_to "View Reviews", movie_reviews_path(@movie)%> 
  
  <%= link_to "Write Review", new_movie_review_path(@movie)%>
  
  <footer>
    <nav>
    <% if current_user_admin? %>
      <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
      <%= link_to 'Delete', @movie, 
                  class: 'button',
                  method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </nav>
  </footer>
</article>
